$gray_background: rgb(240, 240, 240);

#section_wish_list {
  background: $gray_background;
}
.wish_list_wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.wish_list_context {
  width: 50%;
}
.wish_list_single {
  padding: 15px;
  background: white;
  box-shadow: 0 0 3px #a5a5a5;
  transition: box-shadow 0.5s;
  cursor: pointer;
  position: relative;
  margin-bottom: 10px;
  &:hover {
    box-shadow: 0 0 9px #818181;
  }
}

.wish_list_date span {
  color: #209cee;
  display: block;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.wish_list_remove_item{
  position: absolute;
  top: 8px;
  right: 8px;
}