.cssload-container {
  width: 100%;
  height: 100%;
  min-height: 200px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 10;
  background: #dadadab2;
}

.cssload-speeding-wheel {
  width: 66px;
  height: 66px;
  margin: 0 auto;
  border: 6px solid #209cee;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: cssload-spin 950ms infinite linear;
  -o-animation: cssload-spin 950ms infinite linear;
  -ms-animation: cssload-spin 950ms infinite linear;
  -webkit-animation: cssload-spin 950ms infinite linear;
  -moz-animation: cssload-spin 950ms infinite linear;
}

@keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-spin {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-spin {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
