%image_filled {
  height: 100%;
  width: auto;
  max-width: inherit;
  position: absolute;
  left: -99999px;
  right: -99999px;
  top: -999999px;
  bottom: -999999px;
  margin: auto;
}

#product_image_figure {
  position: relative;
  overflow: hidden;
  height: 380px;
  background: #f3f3f3;
  img {
    @extend %image_filled;
  }
}
.product_gallery_single_container {
  width: 25%;
  padding: 2px 5px;
}
.product_gallery {
  margin-top: 6px;
}

.product_gallery_wrap {
  display: flex;
  margin: 0 -5px;
  .product_gallery_single_wrap {
    height: 100px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    img {
      @extend %image_filled;
    }
  }
}

.product_single_title {
  margin-bottom: 20px;
}
.product_single_description {
  margin: 0.9em 0;
}
.product_single_actions {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
