@font-face {
  font-family: 'react_icons';
  src:  url('fonts/react_icons.eot?h06efx');
  src:  url('fonts/react_icons.eot?h06efx#iefix') format('embedded-opentype'),
    url('fonts/react_icons.ttf?h06efx') format('truetype'),
    url('fonts/react_icons.woff?h06efx') format('woff'),
    url('fonts/react_icons.svg?h06efx#react_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'react_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-exit:before {
  content: "\e903";
}
.icon-camera:before {
  content: "\e900";
}
.icon-upload:before {
  content: "\e901";
}
.icon-heart:before {
  content: "\e902";
}
