/* @import url("https://fonts.googleapis.com/css?family=Questrial&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

html {
  overflow-y: auto;
}
body {
  font-family: "Quicksand";
}
input,
button,
textarea,
select {
  font-family: "Quicksand";
}
.box {
  position: relative;
  overflow: hidden;
}
.button_add_fav {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 19px;
  padding: 0 10px;
  color: #ff2d2d;
  &:hover{
    color:#ce1d1d;
  }
}

nav.navbar {
  z-index: 1000;
  position: relative;
}
.active_favorites_message {
    position: fixed;
    padding: 10px;
    display: none;
    border-radius: 5px;
    background-color: #ff3860;
    top: 60px;
    opacity: 0.9;
    right: 10px;
    z-index: 1;
  &.active{
    display: block;
  }
}