.images_container > ul {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 650px;
}
.images_container > ul > li {
  height: 130px;
  cursor: pointer;
  width: 20%;
  padding: 5px;
}
.gallery_images_container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ececec;
  border: 1px dashed #afafaf;
  overflow: hidden;
  position: relative;
}
.gallery_images_container img {
  bottom: -99999px;
  position: absolute;
  left: -99999px;
  right: -99999px;
  top: -99999px;
  height: 100%;
  margin: auto;
  width: auto;
  max-width: inherit;
}
#gallery_images {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
